    {% extends 'base.html.twig' %}

    {% block body %}

        <h1>{{ titre }} </h1>
        {% if age > 18 %}
            <p>tu es majeur</p>
        {% else %}
            <p>Tu es mineur</p>
        {% endif %}

        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni itaque eligendi, minima harum quis est illum repudiandae quae id vero vel cumque adipisci cupiditate consectetur. Commodi praesentium explicabo non eligendi deleniti minus? At fugiat facere dolorum deleniti reiciendis! Aperiam, aspernatur?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni itaque eligendi, minima harum quis est illum repudiandae quae id vero vel cumque adipisci cupiditate consectetur. Commodi praesentium explicabo non eligendi deleniti minus? At fugiat facere dolorum deleniti reiciendis! Aperiam, aspernatur?</p>
    {% endblock  %}
     